<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý Size - Web Bán Hàng Thời Trang</title>
</head>

<body>

  <!-- Sidebar -->
  <app-admin-slidebar></app-admin-slidebar>


  <!-- Main Content -->
  <div class="main-content">
    <!-- Topbar -->
    <div class="topbar">
      <div class="logo">Admin - Web Thời Trang</div>
      <div class="user-info">
        <span>Chào, Admin</span>
        <span><a href="/logout">Đăng xuất</a></span>
      </div>
    </div>

    <div class="container">
      <h2>Statistics</h2>
      <label for="statistic-select">Choose a statistic to display:</label>
      <select id="statistic-select" (change)="onSelectChange($event)">
          <option value="total">Total Revenue</option>
          <option value="daily">Revenue by Date</option>
          <option value="monthly">Revenue by Month</option>
          <option value="yearly">Revenue by Year</option>
          <option value="compare">Compare Revenue</option> <!-- Thêm tùy chọn so sánh -->
      </select>
  
      <!-- Input for date range -->
      <div class="date-range">
          <label for="start-date">Start Date:</label>
          <input type="date" id="start-date" [(ngModel)]="startDate">
  
          <label for="end-date">End Date:</label>
          <input type="date" id="end-date" [(ngModel)]="endDate">
      </div>
  
      <!-- Button Group -->
      <div class="button-group">
          <button class="get-statistics-btn" (click)="getStatistics()">Get Statistics</button>
          <button class="reset-btn" (click)="resetFilters()">Reset</button>
          <button class="export-excel-btn" (click)="exportToExcel([orderStatistics], 'Total_Revenue')">Export to Excel</button>
      </div>
  
      <!-- Total Revenue -->
      <div *ngIf="selectedOption === 'total' && orderStatistics">
          <h3>Total Orders: {{ orderStatistics.totalOrders }}</h3>
          <h3>Total Revenue: {{ orderStatistics.totalRevenue | vndCurrency }}</h3>
          <canvas baseChart [datasets]="chartData.datasets" [labels]="chartData.labels" [type]="chartType" [options]="chartOptions"></canvas>
      </div>
  
      <!-- Revenue by Date -->
      <div *ngIf="selectedOption === 'daily'">
          <h3>Revenue by Date</h3>
          <button class="export-excel-btn" (click)="exportToExcel(revenueByDate, 'Revenue_By_Date')">Export to Excel</button>
          <canvas baseChart [datasets]="chartData.datasets" [labels]="chartData.labels" [type]="chartType" [options]="chartOptions"></canvas>
          <table>
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Total Revenue</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let revenue of revenueByDate | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                      <td>{{ revenue.date }}</td>
                      <td>{{ revenue.totalRevenue | vndCurrency }}</td>
                  </tr>
              </tbody>
          </table>
          <pagination-controls style="display: flex; justify-content: center; padding: 2rem;" (pageChange)="currentPage = $event"></pagination-controls>
      </div>
  
      <!-- Revenue by Month -->
      <div *ngIf="selectedOption === 'monthly'">
          <h3>Revenue by Month</h3>
          <button class="export-excel-btn" (click)="exportToExcel(revenueByMonth, 'Revenue_By_Month')">Export to Excel</button>
          <canvas baseChart [datasets]="chartData.datasets" [labels]="chartData.labels" [type]="chartType" [options]="chartOptions"></canvas>
          <table>
              <thead>
                  <tr>
                      <th>Month</th>
                      <th>Year</th>
                      <th>Total Revenue</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let revenue of revenueByMonth | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                      <td>{{ revenue.month }}</td>
                      <td>{{ revenue.year }}</td>
                      <td>{{ revenue.totalRevenue | vndCurrency }}</td>
                  </tr>
              </tbody>
          </table>
          <pagination-controls style="display: flex; justify-content: center; padding: 2rem;" (pageChange)="currentPage = $event"></pagination-controls>
      </div>
  
      <!-- Revenue by Year -->
      <div *ngIf="selectedOption === 'yearly'">
          <h3>Revenue by Year</h3>
          <button class="export-excel-btn" (click)="exportToExcel(revenueByYear, 'Revenue_By_Year')">Export to Excel</button>
          <canvas baseChart [datasets]="chartData.datasets" [labels]="chartData.labels" [type]="chartType" [options]="chartOptions"></canvas>
          <table>
              <thead>
                  <tr>
                      <th>Year</th>
                      <th>Total Revenue</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let revenue of revenueByYear | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                      <td>{{ revenue.year }}</td>
                      <td>{{ revenue.totalRevenue | vndCurrency }}</td>
                  </tr>
              </tbody>
          </table>
          <pagination-controls style="display: flex; justify-content: center; padding: 2rem;" (pageChange)="currentPage = $event"></pagination-controls>
      </div>

      <!-- Biểu đồ so sánh -->
      <!-- <div>
        <canvas id="combinedChart" *ngIf="revenueByMonth.length" >= 0"></canvas>
    </div>
     -->
    

  </div>

  </div>

</body>

</html>