
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                           
                            <p>{{'header.free_shipping' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a *ngIf="!checkLogin()" routerLink="/login">{{'header.sign_in'|translate}}</a>
                                <a *ngIf="checkLogin()" routerLink="/logout" (click)="logout()">{{'header.sign_out'|translate}}</a>
                                <a *ngIf="checkLogin()" href="#">{{userName}}</a>
                            </div>
                            <!-- <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li  (click)="changeLanguage('vn')">VietNamese</li>
                                    <li  (click)="changeLanguage('en')"> English</li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a routerLink=""><img src="https://themewagon.github.io/malefashion/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">{{'navigation.home'|translate}}</a></li>
                            <li><a routerLink="/shop">{{'navigation.shop'|translate}}</a></li>
                            <li><a href="#">{{'navigation.pages'|translate}}</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/blog-page">{{'navigation.blog'|translate}}</a></li>
                            <li><a href="./contact.html">{{'navigation.contacts'|translate}}</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="https://themewagon.github.io/malefashion/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="https://themewagon.github.io/malefashion/img/icon/heart.png" alt=""></a>
                        <a routerLink="/cart"><img src="https://themewagon.github.io/malefashion/img/icon/cart.png" alt=""> <span>{{getCartQuantity().value.toString()}}</span></a>
                        <div  class="price">{{getTotalPrice().value.toString()| vndCurrency}}</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>