<nav class="sidebar">
    <ul>
        <li><a routerLink="/admin/dashboard">Dashboard</a></li>
        <li><a routerLink="/admin/banner">Quản lý banner</a></li>
        <li><a routerLink="/admin/category">Quản lý danh mục</a></li>
        <li><a routerLink="/admin/size">Quản lý Size</a></li>
        <li><a routerLink="/admin/blog">Quản lý Blog</a></li>
        <li><a routerLink="/admin/product">Quản lý sản phẩm</a></li>
        <li><a routerLink="/admin/order">Quản lý đơn hàng</a></li>
        <li><a routerLink="/admin/user">Khách hàng</a></li>
        <li><a routerLink="/admin/revenue">Thống kê</a></li>
        <li><a routerLink="/admin/inventory">Tồn Kho</a></li>
        <li><a routerLink="/admin/chat">Tư vấn khách hàng</a></li>
        <li><a routerLink="/logout">Đăng xuất</a></li>
    </ul>
</nav>