<div class="container">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card chat-app">
          <div id="plist" class="people-list">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search...">
            </div>
            <ul class="list-unstyled chat-list mt-2 mb-0">
              <li
                class="clearfix"
                *ngFor="let user of (users | keyvalue)"
                [ngClass]="{ active: user.key === currentUser }"
                (click)="switchChat(user.key)"
              >
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar1.png"
                  alt="avatar"
                />
                <div class="about">
                  <div class="name">{{ user.key }}</div>
                  <div class="status">
                    <i class="fa fa-circle" [ngClass]="{'online': user.value.count > 0, 'offline': user.value.count === 0 }"></i>
                    {{ user.value.count > 0 ? 'online' : 'offline' }}
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="chat">
            <div class="chat-header clearfix">
              <div class="row">
                <div class="col-lg-6">
                  <div class="chat-about">
                    <h6 class="m-b-0">Chat với {{ currentUser || '...' }}</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-history">
              <ul class="m-b-0">
                <li
                  class="clearfix"
                  *ngFor="let msg of users[currentUser]?.messages"
                >
                  <div
                    class="message"
                    [ngClass]="{
                      'my-message': msg.sender === 'admin',
                      'other-message float-right': msg.sender !== 'admin'
                    }"
                  >
                    {{ msg.content }}
                  </div>
                </li>
              </ul>
            </div>
            <div class="chat-message clearfix">
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-send"></i>
                  </span>
                </div>
                <input
                  [(ngModel)]="message"
                  (keyup.enter)="sendMessage()"
                  type="text"
                  class="form-control"
                  placeholder="Nhập tin nhắn..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  