<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý Size - Web Bán Hàng Thời Trang</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>

  <!-- Sidebar -->
  <app-admin-slidebar></app-admin-slidebar>
  <div class="main-content">
    <!-- Topbar -->
    <div class="topbar">
      <div class="logo">Admin - Web Thời Trang</div>
      <div class="user-info">
        <span>Chào, Admin</span>
        <span><a href="/logout">Đăng xuất</a></span>
      </div>
    </div>

  </div>
  <app-notification [showNotification]="showNotification" [message]="messageNotification"
    (closeNotification)="showNotification"></app-notification>

  <!-- Main Content -->
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card chat-app" style="margin-left:100px ;width: 95%;">
          <div id="plist" class="people-list">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search...">
            </div>
            <ul class="list-unstyled chat-list mt-2 mb-0">
              <li class="clearfix" *ngFor="let user of (users | keyvalue)"
                  [ngClass]="{ active: user.key === currentUser }" (click)="switchChat(user.key)">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" />
                <div class="about">
                  <div class="name">{{ user.key }}
                    <span *ngIf="user.value.unread > 0" class="unread-count">({{user.value.unread}})</span>
                  </div>
                  <div class="status">
                    <i class="fa fa-circle"
                      [ngClass]="{'online': user.value.count > 0, 'offline': user.value.count === 0 }"></i>
                    {{ user.value.count > 0 ? 'online' : 'offline' }}
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="chat">
            <div class="chat-header clearfix">
              <div class="row">
                <div class="col-lg-6">
                  <div class="chat-about">
                    <h6 class="m-b-0">Chat với {{ currentUser || '...' }}</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-history" #chatBox>
              <ul class="m-b-0">
                <li class="clearfix" *ngFor="let msg of users[currentUser]?.messages">
                   <div class="message-container" [ngClass]="{'my-message-container': msg.sender === 'admin', 'other-message-container': msg.sender !== 'admin' }">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" class="message-avatar">
                          <div class="message-content-time-container">
                               <div class="message" [ngClass]="{
                                          'my-message': msg.sender === 'admin',
                                          'other-message ': msg.sender !== 'admin'
                                        }">
                                    {{ msg.content }}
                              </div>
                              <div class="message-time" [ngClass]="{'my-message-time': msg.sender === 'admin'}">
                                {{ msg.timeStamp | date:'shortTime' }}
                              </div>
                           </div>
                     </div>
                </li>
              </ul>
            </div>
            <div class="chat-message clearfix">
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-send"></i>
                  </span>
                </div>
                <input [(ngModel)]="message" (keyup.enter)="sendMessage()" type="text" class="form-control"
                  placeholder="Nhập tin nhắn..." />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>