<div class="chat-wrapper">
  <div class="chat-icon" (click)="toggleChat()">
    <i class="fa fa-envelope"></i>
  </div>
</div>

<div class="chat-container" *ngIf="isChatOpen">
  <div class="wrapper">
    <div class="title">Simple Chatbot</div>
    <div class="box" #chatBox>
      <div class="item" *ngFor="let msg of messages"
        [ngClass]="{'right': msg.sender === currentUser, 'left': msg.sender !== currentUser}">
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <div style="display: flex; flex-direction: column;">
          <div class="msg">
            <p>{{ msg.content }}</p>
          </div>
          <div class="message-time" [ngClass]="{'my-message-time': msg.sender === 'admin'}">
            {{ msg.timeStamp | date:'shortTime' }}
          </div>
        </div>
      </div>
    </div>

    <div class="typing-area">
      <div class="input-field">
        <input [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Type your message" required />
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
```